/*-- scss:defaults --*/
$body-bg: #020817;
$body-color: white;
$link-color: #75AADB;

$headings-color: white !important;
$code-block-border-left: #75AADB;
$code-block-bg: #001437;
$code-block-bg-padding: 0.6em;
