/*-- scss:defaults --*/
$body-bg: white;
$body-color: #020817;
$link-color: #75AADB;

$headings-color: #002B4D;
$code-block-border-left: #75AADB;
$code-block-bg: #F2F5F9;
$code-block-bg-padding: 0.6em;
